/***** GENERAL STYLING *****/

* {/*effects all elemments*/
    box-sizing: border-box; /*prevents overflow by padding and border*/
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%; /* Ensures the site to be displayed al the way up to the edge */
    opacity: 1; /* this and transition, affect the page loading fade in effect*/
    transition: 10s opacity;
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden; 
    user-select: none;
}

/* This makes a fade-in effect when the page is loded */
body.fade-out {
    opacity: .1;
}

h1 {
    text-transform: uppercase;
    font-family: "trebuchet MS", Optima;
    text-align: center;
    color: #1a1a1a;
}

h2 {
    font-family: "trebuchet MS", Optima;
    text-align: center;
    color: #1a1a1a;
}

h4{
    padding-left: 1vw;
    font-family: "trebuchet MS", Optima;
    color: #1a1a1a;
    margin-bottom: 0;
}

h1:hover, h2:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

p:hover, h4:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

q {
    font-style: italic;
}

/*Centers the Video_text, GitHub link and Footer text*/
.center {
    text-align: center;
}

.center:hover {
    transform: scale(1.1);
    transition: transform 2s;
}

.bold {
    font-weight: bold;
}

img {
    filter: grayscale(65%);
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    height: 340px;
    display: block;
    margin: auto;
}

img:hover {
    filter: grayscale(5%);
}



/***** NAVBAR *****/
/*Styles the Navigations bar*/
.navbar {
    overflow: hidden; /*hiddes content that overflowes beyoned its containers borders*/
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNavFromLeft 5s; /* Safari 4.0 - 8.0 */
    animation: moveNavFromLeft 5s;
}

/*Moves the Navbar from left into the screen when the page is loaded*/
@keyframes moveNavFromLeft {
    from{left: -100vw;}
    to{left:  0vw;}
}

/*Styles the navigation buttons*/
.navbar a {
    float: left; /*taxt floates on left of the navbar*/
    display: block;
    color: white;
    text-decoration: none;
    padding: .75vw 1vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    
}

.navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.navbar a.active {
    background-color: darkgray;
}

/***** HOME *****/
/*Video Background*/
#typing_video {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    height: auto;
    z-index: -1;
}

/*Styling of the portfolio head in video_text*/
.white-text  {
    color: #fff;
    padding-top: 10vh;
}

/*Text overlay over the background video*/
.video-text {
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    height: 100vh;
    padding: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 5s;
    animation: moveVideoText 5s;
}

/*Moves video_text from top into the screen*/
@keyframes moveVideoText {
    from{top: -100vw;}
    to{top: 0vw;}
}

/***** Slideshow *****/
#slideshow-background {
    background: rgba(126, 126, 126, 0.308);
}

.my-slide {
    display: none;
}

#slideshow-container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

#slideshow-container a {
    text-decoration: none;
}

.slideshow-img {
    vertical-align: middle; /* centers images vertical in the middle of the slideshow-conrainer*/
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%;
    margin-top: 0px;
}

.portrait {
    filter: grayscale(20%);
}

.portrait:hover {
    filter: grayscale(0%);
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: perpetua, Rockwell Exstra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, .75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

/* styles the word Contact so its you see you can click on it */
.link {
    text-decoration: underline;
    cursor: pointer;
}

/* Slideshow dots */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition:  background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/***** STRUCTURE FOR ABOUT AND GITHUB*****/
/*Styles the columned section*/
.column_1 {
    float: left;
    width: 50%;
    height: 400px;
    padding: 1.9%;
    background-color: #4d4d4d;
}

.column_2 {
    float: left;
    width: 50%;
    height: 400px;
    padding: 10px;
    background-color: #f2f2f2;
}

.column_1_large {
    float: left;
    width: 50%;
    height: 500px;
    padding: 4.9%;
    background-color: #4d4d4d;
}

.column_2_large {
    float: left;
    width: 50%;
    height: 500px;
    padding: 10px;
    background-color: #f2f2f2;
}

/*Pushes the footer under the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}


/***** CONTACT *****/

.pop-up-button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@-webkit-keyframes movePopup {
    from{right: -40vw}
    to {right: 1.75vw}
}
@keyframes movePopup {
    from{right: -40vw}
    to {right: 1.75vw}
}

.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    border-radius: 5px;
    background: gainsboro;
    font-family: Perpetua, Rockwell Extra Bold;
    font-size: 1vw;
}

button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/* form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 12px;
    font-family: 'Trebuchet MS', Optima;
} */

/***** FOOTER *****/

.footer {
    background: white;
}

.footer p {
    margin: 0px 0px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Trebuchet MS', Optima;
}

/***** Media Query Section *****/
/* Media rules for different screen sizes */
@media screen and (max-width: 527px)  {
    /* Change paragraph font-size */
    p, h4, h2
    {
        font-size: 3.75vw;
    }

    /* Change font-size contact button*/
    button
    {
        font-size: 3.75vw;
    }

    /* chanche layout slideshow */
    #slideshow-container
    {
        width: 80vw;
        padding-bottom: 12px;
    }
    .text
    {
        font-size: 4vw;
    }
    .previous, .next
    {
        font-size: 7vw;
    }

    /* Change layout from coloms and the images inside */
    img
    {
        height: 150px;
        margin-top: 20px;
    }

    .column_1
    {
        width: 100%;
        height: 300px;
    }
    .column_2
    {
        width: 100%;
        height: 300px;
    }

    .column_1_large, .column_2_large
    {
        width: 100%;
        height: 400px;
    }

    /* correct layout contact form. */
    .form-container
    {
        max-width: 99vw;
    }
    label
    {
        font-size: 3.75vw;
    }
    .form-container input[type=text]
    {
        font-size: 3.75vw;
    }
}

/* Differend sizes for paragraph for differend screen sizes*/
@media screen and (min-width: 528px) and (max-width: 660px)  {
    p, h4, h2 
    {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px)  {
    p, h4, h2 
    {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px)  {
    p, h4, h2 
    {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px)  {
    p, h4, h2 
    {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px)  {
    p, h4, h2 
    {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px)  {
    p, h4, h2 
    {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px)  {
    p, h4, h2
    {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px)  {
    p, h4, h2 
    {
        font-size: 1.35vw;
    }
}

/*Media rule for navbar links for different screen sizes*/
/* Screens 1080px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) {
    .navbar a
    {
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Screens 576px and smaller will display navbar links equally distributed, navbar text bigger and more padding */
@media screen and (max-width: 576px) {
    .navbar a
    {
        width: 20%;
        padding: 3vw;
        font-size: 3.75vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px)  {
    .quote
    {
        font-size: 3.5vw;
    }

    .white-text 
    {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px)  {
    .Column_1 
    {
        height: 550px;
    }
    .Column_2 
    {
        height: 550px;
    }
}


/*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px)  {
    h1
    {
        margin-top: 0;
    }
}

/*No Video on small screen*/
/* @media screen and (max-width: 576px) {
    #typing_video
    {
        display: none;
    }
} */

